<h4>{{ borrower.fullname }}</h4>
{% if borrower.govtMonitoringOptOut %}
	<p>Not provided</p>
{% else %}
	<div class="government-monitoring-wrapper">
		<b>Ethnicity:</b> {{ borrower.ethnicityText }}<br>
		<b>Race:</b> {{ borrower.raceText }}<br>
		<b>Sex:</b> {% if borrower.isMale is not null %}{% if borrower.isMale %}Male{% else %}Female{% endif %}{% endif %}<br>
	</div>
{% endif %}