{% extends site.getThemeTemplate %}

{% block title %}Loan Application Complete!{% endblock %}

{% block body_class %}page-loan-apply-complete{% endblock %}

{% block content %}
	<p>Thank you for submitting your loan application to us. We have been notified and will respond within 1 business day.</p>
	{% if site.settings.inheritedMemberPortalEnabled %}
		<p>You can check on the status of your application, communicate with your loan officer and send documents by going to our member portal.
		<p><a href="{{ path('sudoux_mortgage_loan_member') }}" class="btn btn-default">Access the Member Portal Now</a></p>
	{% endif %}
{% endblock %}