{% extends site.getThemeTemplate %}

{% block title %}Pre-qualification Complete!{% endblock %}

{% block body_class %}page-loan-apply-complete{% endblock %}

{% block content %}
	<p>Thank you for submitting your pre-qualification application. We have been notified and will respond within 1 business day.</p>
{% endblock %}