<tr>
	<td><a href="#" class="icon-remove delete-row"></a>{{ form_widget(form.borrower) }}</td>
	<td>{{ form_widget(form.description, { 'attr' : { 'class': 'span3' } }) }}</td>
	<td>{{ form_widget(form.income, { 'attr' : { 'class': 'span2' } }) }}</td>
</tr>