{% extends site.getAdminThemeTemplate %}

{% block title %}Delete Loan Application{% endblock %}

{% block breadcrumb %}
	<ul class="breadcrumb">
		<li><a href="{{ path('sudoux_mortgage_admin_loan') }}">Loan Applications</a> <span class="divider">/</span></li>
		<li class="active">Delete Loan</li>
	</ul>
{% endblock %}

{% block content %}
	{% if loanLocked %}
		<div class="alert alert-error">Sorry, this loan is locked by another user or application and cannot be deleted.</div>
		<p><a href="{{ path('sudoux_mortgage_admin_loan') }}">Back to Loans</a></p>
	{% else %}
		<form action="{{ path('sudoux_mortgage_admin_loan_delete', { id: loanApplication.id }) }}" method="post" novalidate="novalidate">
			<h3>Are you sure you want to delete this loan?</h3>
			<div class="submit-wrapper">
			    <input type="submit" value="Delete Loan" class="btn"> <a href="{{ path('sudoux_mortgage_admin_loan') }}">Cancel</a>
			</div>
		</form>
	{% endif %}
{% endblock %}
